.app-container  {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: relative;
  display: block;
  line-height: 100%;
}
.app-header {
  width: 90%;
  color: black;
  background-color: burlywood;
  height: 2rem;
  border-radius: 5px;
  padding: auto;
  margin: auto;
  margin-top: 2.5%;
  font-size: large;
  text-align: center;
  line-height: 2rem;
}
p {
  text-align: center;
  vertical-align: middle;
  padding: auto;
  margin: auto;
}
.app-content  {
  width: 90%;
  margin: auto;
  font-size: medium;
  padding: 1ex;
  border-radius: 5px;
}
.app-upload {
  width: 80%;
  height: 5rem;
  padding: auto;
  line-height: 5rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 5px;
  border-style: dotted;
  border-width: 0.2rem;
  border-color: silver;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}
.card {
  display:none;
  margin: auto;
  padding: 1ex;
  position: relative;
  height: auto;
}
.upload-component {
  text-align: center;
}